<header class="w-100 h-100 bg-dark px-4 my-shadow d-flex justify-content-between align-items-center">
    <div class="text-light fs-2 fw-bold fst-italic">
        <span>CoMang Clothing</span>
    </div>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group btn-group-lg me-3" role="group">
            <button type="button" class="btn btn-outline-light" routerLink="/home">Trang Chủ</button>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
                    Danh Mục
                </button>
                <ul class="dropdown-menu fs-5">
                    <ng-container *ngFor="let item of navigationList; let i = index;">
                        <!-- <li class="text-center fw-bold">{{item.category | titlecase}}</li> -->
                        <li  [style.cursor]="'pointer'">
                            <a class="dropdown-item" OpenProducts
                               [cate]="{idCategory: item.idCategory, 'title': item.title, 'subCategory': item.subCategory, 'titleEN': item.titleEN}">
                                {{item.subCategory | titlecase}}
                            </a>
                        </li>
                        <li *ngIf="i !== navigationList.length - 1">
                            <hr class="dropdown-divider">
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>

        <div class="btn-group btn-group-lg me-2" role="group">
            <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#generalmodal"
                    (click)="openModal('login')" *ngIf="!utilityService.isLoggedIn()">Đăng Nhập</button>
            <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#generalmodal"
                    (click)="openModal('register')" *ngIf="!utilityService.isLoggedIn()">Đăng Ký</button>
            <button type="button" class="btn btn-outline-light" *ngIf="utilityService.isLoggedIn()">Tài Khoản</button>
            <button type="button" class="btn btn-outline-light" routerLink="/cart"
                    *ngIf="utilityService.isLoggedIn()">
                    Giỏ hàng
                    <span class="badge bg-warning text-dark">{{cartItems}}</span>
                </button>
            <button type="button" class="btn btn-outline-light" routerLink="/orders"
                    *ngIf="utilityService.isLoggedIn()">Đơn hàng</button>
            <button type="button" class="btn btn-outline-light" (click)="utilityService.logoutUser()"
                    *ngIf="utilityService.isLoggedIn()">Đăng xuất</button>
        </div>
    </div>
</header>

<!-- Modal -->
<div class="modal fade" id="generalmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" #modalTitle></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <ng-container #container></ng-container>
            </div>
        </div>
    </div>
</div>